[Unit]
Description=Periodically set scheduling policies and priorities for critical balenaOS services
After=balena.service

[Timer]
OnActiveSec=30
OnUnitActiveSec=5min
Persistent=false
AccuracySec=5

[Install]
RequiredBy=balena.service
